Repository GawinGowin/ft_irc: changes, and which Codecov flags are due for each by the changed paths.
All: application, domain, infra, presentation

update(test): StringStreamでログを出力するテストを追加
  pkg/tests/application/serviceLocator/test_LoggerServiceLocator.cpp
  pkg/tests/infra/logger/test_ConsoleLogger.cpp
  pkg/tests/infra/logger/test_FileLogger.cpp
Due: none

fmt
  pkg/infra/logger/FileLogger.hpp
  pkg/infra/logger/MultiLogger.hpp
  pkg/infra/logger/StreamLogger.hpp
  pkg/tests/application/serviceLocator/test_LoggerServiceLocator.cpp
Due: infra

fix(filelogger): 同じ名前のファイルが存在したら上書きするように
  pkg/infra/logger/FileLogger.hpp
Due: infra

update(entrypoint): loggerを使うように変更
  pkg/presentation/entrypoint.cpp
Due: presentation

update(ci): 未フォーマットのファイルをアップロードする機能を追加
  .github/workflows/cpp_ci.yml
Due: none

rm: 不要なファイルを削除
  test.cpp
Due: none

56 便利なLoggerを追加 (#59)
  .github/workflows/cpp_ci.yml
  .gitignore
  .vscode/launch.json
  pkg/application/serviceLocator/LoggerServiceLocator.cpp
  pkg/application/serviceLocator/LoggerServiceLocator.hpp
  pkg/infra/logger/ConsoleLogger.hpp
  pkg/infra/logger/FileLogger.hpp
  pkg/infra/logger/ILogger.hpp
  pkg/infra/logger/LogLevel.hpp
  pkg/infra/logger/LogStream.hpp
  pkg/infra/logger/MultiLogger.hpp
  pkg/infra/logger/StreamLogger.hpp
  pkg/presentation/LogggerWrapper.hpp
  pkg/presentation/entrypoint.cpp
  pkg/presentation/entrypoint.hpp
  pkg/tests/CMakeLists.txt
  pkg/tests/application/serviceLocator/test_LoggerServiceLocator.cpp
  pkg/tests/infra/logger/test_ConsoleLogger.cpp
  pkg/tests/infra/logger/test_FileLogger.cpp
  pkg/tests/infra/logger/test_MultiLogger.cpp
Due: application, infra, presentation

feat(channel): クライアントが切断された際のチャンネルからの削除処理を実装:
  pkg/domain/channel/ChannelService.cpp
  pkg/domain/channel/ChannelService.hpp
  pkg/domain/client/Client.hpp
Due: domain

feat(channel): クライアントが切断された際のチャンネルからの削除処理を実装: (#61)
  pkg/domain/channel/ChannelService.cpp
  pkg/domain/channel/ChannelService.hpp
  pkg/domain/client/Client.hpp
Due: domain

fix(JenkinsHash): 不要なhashsize関数を削除(校舎PCでの検証)
  pkg/domain/shared/values/JenkinsHash.cpp
Due: domain

fix(JenkinsHash): 不要なhashsize関数を削除(校舎PCでの検証) (#62)
  pkg/domain/shared/values/JenkinsHash.cpp
Due: domain

add: draftを生成
  pkg/application/commands/PassCommand.cpp
  pkg/application/commands/PassCommand.hpp
Due: application

comment; todo を追加
  pkg/application/useCases/AcceptConnectionUseCase.hpp
  pkg/application/useCases/RemoveConnectionUseCase.hpp
  pkg/application/useCases/StartServerUseCase.hpp
Due: application

parseエラーを例外スローではなく、commandをunknownに設定する
  pkg/domain/message/Parser.cpp
Due: domain

テスト修正
  pkg/tests/domain/message/test_Parser.cpp
Due: none

fix: Parseエラー時に例外を発生させないように修正 (#63)
  pkg/domain/message/Parser.cpp
  pkg/tests/domain/message/test_Parser.cpp
Due: domain

update: usecaseの過程で接続情報のをClientに渡すことができるように
  pkg/application/useCases/AcceptConnectionUseCase.cpp
  pkg/application/useCases/AcceptConnectionUseCase.hpp
  pkg/application/useCases/StartServerUseCase.cpp
  pkg/application/useCases/StartServerUseCase.hpp
  pkg/domain/client/Client.cpp
  pkg/domain/client/Client.hpp
Due: application, domain

update(client): Clientクラスの接続情報を分離
  pkg/domain/client/Client.cpp
  pkg/domain/client/Client.hpp
  pkg/domain/client/ConnectionInfo.cpp
  pkg/domain/client/ConnectionInfo.hpp
Due: domain

update(UseCase): つじつま合わせ
  pkg/application/useCases/AcceptConnectionUseCase.cpp
  pkg/application/useCases/StartServerUseCase.cpp
Due: application

fmt
  pkg/domain/client/Client.cpp
  pkg/domain/client/Client.hpp
Due: domain

update(client): IClientAggregateRootにプロパティのgetter/setterを追加
  pkg/domain/client/IClientAggregateRoot.hpp
Due: domain

update(tests): IClientAggregateRootを使用したテストを修正
  pkg/tests/infra/database/test_InmemoryClientDatabase.cpp
Due: none

refactor(Client): 接続情報を構造体にして、id, pw, nickname等を設定できるようにした (#64)
  pkg/application/useCases/AcceptConnectionUseCase.cpp
  pkg/application/useCases/AcceptConnectionUseCase.hpp
  pkg/application/useCases/RemoveConnectionUseCase.hpp
  pkg/application/useCases/StartServerUseCase.cpp
  pkg/application/useCases/StartServerUseCase.hpp
  pkg/domain/client/Client.cpp
  pkg/domain/client/Client.hpp
  pkg/domain/client/ConnectionInfo.cpp
  pkg/domain/client/ConnectionInfo.hpp
  pkg/domain/client/IClientAggregateRoot.hpp
  pkg/domain/shared/ISocketHandler.hpp
  pkg/infra/configs/ConfigsLoader.cpp
  pkg/infra/socket/SocketHandler.cpp
  pkg/infra/socket/SocketHandler.hpp
  pkg/tests/CMakeLists.txt
  pkg/tests/infra/database/test_InmemoryClientDatabase.cpp
  pkg/tests/infra/socket/test_SocketHandler.cpp
Due: application, domain, infra

update: locustを追加
  .env.example
  .gitignore
  Makefile
  requirements.txt
  tools/bircd/Makefile
  tools/bircd/bircd.h
  tools/bircd/check_fd.c
  tools/bircd/clean_fd.c
  tools/bircd/client_read.c
  tools/bircd/client_write.c
  tools/bircd/do_select.c
  tools/bircd/get_opt.c
  tools/bircd/init_env.c
  tools/bircd/init_fd.c
  tools/bircd/main.c
  tools/bircd/main_loop.c
  tools/bircd/srv_accept.c
  tools/bircd/srv_create.c
  tools/bircd/x.c
  tools/locustfile.py
  tools/server/server.cpp
Due: none

fix(SocketHandler): メッセージを送ったとき、例外を発生させないように変更
  pkg/domain/shared/ISocketHandler.hpp
  pkg/infra/socket/SocketHandler.cpp
  pkg/infra/socket/SocketHandler.hpp
  pkg/tests/infra/socket/test_SocketHandler.cpp
Due: domain, infra

refactor: ISocketHandlerの位置を変更
  pkg/application/useCases/StartServerUseCase.hpp
  pkg/infra/socket/ISocketHandler.hpp
  pkg/infra/socket/SocketHandler.hpp
Due: application, infra

add: メッセージ送信に使えるMessageStreamを作成
  pkg/domain/message/MessageStream.hpp
  pkg/infra/socket/SocketHandler.cpp
  pkg/infra/socket/SocketHandler.hpp
Due: domain, infra

rename: BaseMessage -> Message
  pkg/application/commands/ACommands.cpp
  pkg/application/commands/ACommands.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
  pkg/domain/message/BaseMessage.cpp
  pkg/domain/message/Message.cpp
  pkg/domain/message/Message.hpp
  pkg/tests/CMakeLists.txt
  pkg/tests/domain/message/test_BaseMessage.cpp
Due: application, domain

refactor: Message Classをストリームで出力できるようにするなどのリファクタリングを行った
  pkg/application/useCases/LogggerUseCase.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
  pkg/domain/message/IMessageAggregateRoot.hpp
  pkg/domain/message/Message.cpp
  pkg/domain/message/Message.hpp
  pkg/presentation/LogggerWrapper.hpp
  pkg/presentation/entrypoint.cpp
  pkg/presentation/entrypoint.hpp
  pkg/tests/domain/message/test_Message.cpp
Due: application, domain, presentation

update: ログ出力を調整
  pkg/application/useCases/AcceptConnectionUseCase.cpp
  pkg/application/useCases/AcceptConnectionUseCase.hpp
  pkg/application/useCases/RemoveConnectionUseCase.cpp
  pkg/application/useCases/RemoveConnectionUseCase.hpp
  pkg/presentation/entrypoint.cpp
Due: application, presentation

update(client): アドレスを取得するメソッドを追加
  pkg/domain/client/Client.cpp
  pkg/domain/client/Client.hpp
Due: domain

fix(MessageStream): エラーを修正
  pkg/domain/message/MessageStream.hpp
Due: domain

update: メッセージを配信するためのクラスを追加
  pkg/application/dto/SendMsgDTO.cpp
  pkg/application/dto/SendMsgDTO.hpp
  pkg/application/useCases/SendMsgFromServerUseCase.cpp
  pkg/application/useCases/SendMsgFromServerUseCase.hpp
  pkg/domain/message/MessageService.hpp
Due: application, domain

add: メッセージを送り返す機構を実装
  .vscode/launch.json
  pkg/application/dto/RecievedMsgDTO.cpp
  pkg/application/dto/RecievedMsgDTO.hpp
  pkg/application/dto/SendMsgDTO.cpp
  pkg/application/dto/SendMsgDTO.hpp
  pkg/application/useCases/AcceptConnectionUseCase.cpp
  pkg/application/useCases/RecieveMsgUseCase.cpp
  pkg/application/useCases/RecieveMsgUseCase.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
  pkg/application/useCases/SendMsgFromServerUseCase.cpp
  pkg/application/useCases/SendMsgFromServerUseCase.hpp
  pkg/domain/client/Client.cpp
  pkg/domain/client/IClientAggregateRoot.hpp
  pkg/domain/message/IMessageAggregateRoot.hpp
  pkg/domain/message/MessageStream.hpp
  pkg/infra/database/InmemoryClientDatabase.cpp
  pkg/infra/database/InmemoryClientDatabase.hpp
  pkg/presentation/entrypoint.cpp
  pkg/presentation/entrypoint.hpp
  pkg/tests/domain/message/test_Message.cpp
  pkg/tests/infra/database/test_InmemoryClientDatabase.cpp
Due: application, domain, infra, presentation

update(cpp_ci): clang-formatの設定を表示するステップを追加
  .github/workflows/cpp_ci.yml
Due: none

chore(RecievedMsgDTO): 微細な修正
  pkg/application/dto/RecievedMsgDTO.cpp
  pkg/application/dto/RecievedMsgDTO.hpp
Due: application

fix(SendMsgFromServerUseCase, Message): ログメッセージのフォーマットを改善
  pkg/application/useCases/SendMsgFromServerUseCase.cpp
  pkg/domain/message/Message.cpp
Due: application, domain

fix: コマンド実行に関してのInterfaceと関連ロジックにコメントを追加
  pkg/application/commands/ACommands.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
Due: application

fix: 警告を発生させないように対応
  CMakeLists.txt
Due: none

Path conditions:
  application: any of: pkg/application/**
  domain: any of: pkg/domain/**
  infra: any of: pkg/infra/**
  presentation: any of: pkg/presentation/**
