Repository GawinGowin/ft_irc: changes, and which Codecov flags are due for each by the changed paths.
All: application, domain, infra, presentation

update: Modeコマンドのdraftを追加
  pkg/application/commands/Mode.cpp
  pkg/application/commands/Mode.hpp
Due: application

fix: MODEコマンドでmodeを更新した際の応答メッセージを調整
  pkg/application/commands/Mode.cpp
  pkg/application/commands/Mode.hpp
Due: application

update: Modeコマンドを実装 (#102)
  .github/workflows/build.yaml
  .gitignore
  Dockerfile
  pkg/application/commands/Mode.cpp
  pkg/application/commands/Mode.hpp
  pkg/domain/channel/Channel.cpp
  pkg/domain/channel/Channel.hpp
  pkg/domain/channel/IChannelAggregateRoot.hpp
  pkg/domain/message/MessageConstants.hpp
  pkg/tests/application/useCases/test_StartServerUseCase.cpp
  pkg/tests/domain/channel/test_Channel.cpp
  pkg/tests/infra/database/test_InmemoryChannelDatabase.cpp
Due: application, domain

doc: issueテンプレートを追加
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

doc: issueテンプレートを追加 (#105)
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

update: CI設定を修正し、Dockerイメージにlatestタグを追加
  .github/workflows/build.yaml
  docker-compose.yaml
Due: none

update: CI設定を修正し、プルリクエストのブランチを整理
  .github/workflows/build.yaml
Due: none

update: CI設定を修正し、Dockerイメージにlatestタグを追加 (#106)
  .github/workflows/build.yaml
  docker-compose.yaml
Due: none

update: 設定を追加
  config/.gitignore
  config/ngircd.conf
Due: none

update: ft_ircのイメージを軽量化
  Dockerfile
Due: none

fix: ログメッセージの末尾の改行を削除する機能を追加
  pkg/infra/logger/ILogger.hpp
Due: infra

fix: ログメッセージの末尾の改行を削除する機能を追加 (#107)
  pkg/infra/logger/ILogger.hpp
Due: infra

update: テストのためのIRCサーバーとクライアントの実装を追加し、Makefileの最適化を行った
  .vscode/settings.json
  Makefile
  requirements.txt
  tools/conftest.py
  tools/locustfile.py
  tools/test_basics.py
Due: none

feat: docker composeでft_ircを起動できるようにした。
  .github/workflows/build.yaml
  .vscode/settings.json
  Dockerfile
  Makefile
  config/.gitignore
  config/ngircd.conf
  docker-compose.yaml
Due: none

feat: docker composeでft_ircを起動できるようにした。 (#108)
  .github/workflows/build.yaml
  .vscode/settings.json
  Dockerfile
  Makefile
  config/.gitignore
  config/ngircd.conf
  docker-compose.yaml
Due: none

feat: locustを実行するdocker-composeのserviceを追加
  .env
  .env.example
  .gitignore
  docker-compose.yaml
  e2e/Dockerfile
  e2e/locustfile.py
  e2e/requirements.txt
  requirements.txt
  tools/locustfile.py
Due: none

chore: ディレクトリを変更
  Makefile
  docker-compose.yaml
  tests/load-generator/Dockerfile
  tests/load-generator/locustfile.py
  tests/load-generator/requirements.txt
Due: none

wip
  tests/load-generator/.vscode/launch.json
  tests/load-generator/locustfile.py
Due: none

hpp追加
  pkg/application/commands/User.cpp
  pkg/application/commands/User.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
Due: application

fix: TOPICコマンドの実装によるテスト修正 (#41)
  pkg/tests/application/useCases/test_StartServerUseCase.cpp
  pkg/tests/domain/message/test_Message.cpp
  pkg/tests/infra/database/test_InmemoryChannelDatabase.cpp
Due: none

fix: 自己代入の修正 (#41)
  pkg/tests/domain/message/test_Message.cpp
Due: none

wip
  tests/load-generator/.vscode/launch.json
Due: none

fmt
  pkg/application/commands/Topic.cpp
  pkg/application/commands/Topic.hpp
  pkg/tests/application/useCases/test_StartServerUseCase.cpp
  pkg/tests/domain/message/test_Message.cpp
  pkg/tests/infra/database/test_InmemoryChannelDatabase.cpp
Due: application

feat: プレゼンテーションテストを削除
  pkg/tests/CMakeLists.txt
  pkg/tests/presentation/test_entrypoint.cpp
  pkg/tests/presentation/test_main.cpp
Due: none

add: TOPICコマンドの実装 (#41) (#101)
  pkg/application/commands/Topic.cpp
  pkg/application/commands/Topic.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
  pkg/domain/channel/Channel.cpp
  pkg/domain/channel/Channel.hpp
  pkg/domain/channel/IChannelAggregateRoot.hpp
  pkg/tests/application/useCases/test_StartServerUseCase.cpp
  pkg/tests/domain/message/test_Message.cpp
  pkg/tests/infra/database/test_InmemoryChannelDatabase.cpp
Due: application, domain

refactor: ディレクトリ構造を変更
  .env
  docker-compose.yaml
  tests/load-generator/Dockerfile
  tests/load-generator/locustfile.py
  tests/load-generator/requirements.txt
Due: none

chore: プレゼンテーション層のテストを削除
  pkg/tests/CMakeLists.txt
  pkg/tests/presentation/test_entrypoint.cpp
  pkg/tests/presentation/test_main.cpp
Due: none

fix: -Oのフラグの位置を修正
  Makefile
Due: none

Nickの仕様と実装を他コマンドと合わせた
  pkg/application/commands/Nick.cpp
  pkg/application/commands/Nick.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
Due: application

Nickの仕様と実装を他コマンドと合わせた (#110)
  pkg/application/commands/Nick.cpp
  pkg/application/commands/Nick.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
Due: application

clientTypeを追加
  pkg/application/commands/Nick.cpp
  pkg/application/commands/Pass.cpp
  pkg/domain/client/Client.cpp
  pkg/domain/client/Client.hpp
  pkg/domain/client/IClientAggregateRoot.hpp
Due: application, domain

fmt
  pkg/domain/client/Client.cpp
  pkg/domain/client/IClientAggregateRoot.hpp
Due: domain

MOCK_METHOD追加
  pkg/tests/infra/database/test_InmemoryClientDatabase.cpp
Due: none

fix: clientTypeを追加 (#112)
  pkg/application/commands/Nick.cpp
  pkg/application/commands/Pass.cpp
  pkg/domain/client/Client.cpp
  pkg/domain/client/Client.hpp
  pkg/domain/client/IClientAggregateRoot.hpp
  pkg/tests/infra/database/test_InmemoryClientDatabase.cpp
Due: application, domain

USERにclientType関連を追加
  pkg/application/commands/Nick.cpp
  pkg/application/commands/User.cpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/domain/client/IClientAggregateRoot.hpp
Due: application, domain

USERの重複を排除
  pkg/application/commands/User.cpp
  pkg/domain/message/MessageConstants.hpp
Due: application, domain

通知以外の実装
  pkg/application/commands/User.cpp
  pkg/domain/client/Client.cpp
  pkg/domain/client/Client.hpp
  pkg/domain/client/IClientAggregateRoot.hpp
Due: application, domain

ログイン/接続断の前
  pkg/application/commands/Nick.cpp
  pkg/application/commands/User.cpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/domain/client/IClientAggregateRoot.hpp
  pkg/presentation/entrypoint.cpp
Due: application, domain, presentation

USER/NICKで接続断処理を追加
  pkg/application/commands/Nick.cpp
  pkg/application/commands/User.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
  pkg/domain/client/Client.cpp
  pkg/domain/client/IClientAggregateRoot.hpp
  pkg/presentation/entrypoint.cpp
Due: application, domain, presentation

feat: USERコマンドの実装 (#114)
  pkg/application/commands/Nick.cpp
  pkg/application/commands/User.cpp
  pkg/application/commands/User.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
  pkg/domain/client/Client.cpp
  pkg/domain/client/Client.hpp
  pkg/domain/client/IClientAggregateRoot.hpp
  pkg/domain/message/MessageConstants.hpp
  pkg/presentation/entrypoint.cpp
Due: application, domain, presentation

Path conditions:
  application: any of: pkg/application/**
  domain: any of: pkg/domain/**
  infra: any of: pkg/infra/**
  presentation: any of: pkg/presentation/**
