Repository GawinGowin/ft_irc: changes, and which Codecov flags are due for each by the changed paths.
All: application, domain, infra, presentation

codecov.yaml:

comment:
  layout: "header, diff, flags, components, files, footer"  # show component info in the PR comment
  
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_application  # this is an identifier that should not be changed
      name: application  # this is a display name, and can be changed freely
      paths:
        - pkg/application/**
    - component_id: module_domain
      name: domain
      paths:
        - pkg/domain/**
    - component_id: module_infra
      name: infra
      paths:
        - pkg/infra/**
    - component_id: module_presentation
      name: presentation
      paths:
        - pkg/presentation/**

fix: 不要な設定などを削除
  Makefile
  pkg/domain/configs/ChannelConfig.hpp
  pkg/domain/configs/Configs.cpp
  pkg/domain/configs/Configs.hpp
  pkg/domain/configs/OperatorConfig.hpp
  pkg/infra/configs/ConfigsLoader.cpp
Due: domain, infra

fix: 不要な設定などを削除 (#93)
  Makefile
  pkg/domain/configs/ChannelConfig.hpp
  pkg/domain/configs/Configs.cpp
  pkg/domain/configs/Configs.hpp
  pkg/domain/configs/OperatorConfig.hpp
  pkg/infra/configs/ConfigsLoader.cpp
Due: domain, infra

update: 仮で追加
  .dockerignore
  Dockerfile
Due: none

ローカルでは行けた
  .dockerignore
  Dockerfile
Due: none

feat: Dockerイメージのビルドとプッシュ用のGitHub Actionsワークフローを追加
  .github/workflows/build.yaml
  .github/workflows/ci_build.yaml
Due: none

fix typo
  Dockerfile
Due: none

fix: 不要なプルリクエストブランチの設定を削除し、CIの設定を更新
  .github/workflows/build.yaml
  .github/workflows/ci_build.yaml
  .github/workflows/cpp_ci.yml
Due: none

fix: 不要なプルリクエストブランチの設定を削除
  .github/workflows/cpp_ci.yml
Due: none

fix: GitHub Actionsワークフローのコンテナ設定を簡略化
  .github/workflows/cpp_ci.yml
Due: none

fix: 不要なコンテナ設定を削除
  .github/workflows/cpp_ci.yml
Due: none

fix: 不要なclang-formatインストールを削除し、リンクライブラリ設定を整理
  .github/workflows/cpp_ci.yml
  CMakeLists.txt
Due: none

fix: Dockerfileにclang-formatを追加
  Dockerfile
Due: none

fix: GitHub Actionsのトリガーにci/**ブランチを追加
  .github/workflows/ci_build.yaml
Due: none

fix: Dockerfileから不要な空行を削除
  Dockerfile
Due: none

fix: ci_build.yamlからDockerfileのパス指定を削除
  .github/workflows/ci_build.yaml
Due: none

fix: GitHub Actionsのコンテナイメージを更新
  .github/workflows/ci_build.yaml
  .github/workflows/cpp_ci.yml
Due: none

fix: ci_build.yamlからci/**ブランチのトリガーを削除
  .github/workflows/ci_build.yaml
Due: none

update: docker file を作成
  .dockerignore
  Dockerfile
Due: none

update: コンテナイメージをビルドするCIを作成
  .github/workflows/build.yaml
  .github/workflows/ci_build.yaml
Due: none

update: CI設定を改善し、必要な権限を追加
  .github/workflows/cpp_ci.yml
  CMakeLists.txt
Due: none

fix: clangformatのCIを元に戻した
  .github/workflows/cpp_ci.yml
Due: none

refactor: CIビルドプロセスを改善し、Dockerfileの構成を整理
  .github/workflows/ci_build.yaml
  Dockerfile
Due: none

update: CI設定から不要な権限を削除し、コンテナの指定を修正
  .github/workflows/cpp_ci.yml
Due: none

update: コンテナをビルドするCIを作成 (#97)
  .dockerignore
  .github/workflows/build.yaml
  .github/workflows/cpp_ci.yml
  CMakeLists.txt
  Dockerfile
Due: none

update: Privmsgコマンドを暫定的に実装
  pkg/application/commands/Privmsg.cpp
  pkg/application/commands/Privmsg.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
  pkg/domain/message/MessageConstants.hpp
Due: application, domain

fix: Clientからのリクエストのパラメータ部分のパーサーの仕様として`:`は使わないようにする
  pkg/domain/message/Message.cpp
  pkg/tests/CMakeLists.txt
  pkg/tests/domain/message/test_Message.cpp
  pkg/tests/domain/message/test_MessageParseParams.cpp
Due: domain

update: Privmsgコマンドを暫定的に実装 (#98)
  pkg/application/commands/Privmsg.cpp
  pkg/application/commands/Privmsg.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
  pkg/domain/message/Message.cpp
  pkg/domain/message/MessageConstants.hpp
  pkg/tests/CMakeLists.txt
  pkg/tests/domain/message/test_Message.cpp
  pkg/tests/domain/message/test_MessageParseParams.cpp
Due: application, domain

add: Kickコマンドを追加
  pkg/application/commands/Kick.cpp
  pkg/application/commands/Kick.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
  pkg/domain/message/MessageConstants.hpp
Due: application, domain

add: Kickコマンドを追加 (#99)
  pkg/application/commands/Kick.cpp
  pkg/application/commands/Kick.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
  pkg/domain/message/MessageConstants.hpp
Due: application, domain

add: Inviteコマンドを実装
  pkg/application/commands/Invite.cpp
  pkg/application/commands/Invite.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
  pkg/domain/message/MessageConstants.hpp
Due: application, domain

add: Inviteコマンドを実装 (#100)
  pkg/application/commands/Invite.cpp
  pkg/application/commands/Invite.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
  pkg/domain/message/MessageConstants.hpp
Due: application, domain

fmt: docker fileのインデントを修正
  Dockerfile
Due: none

update: CIのビルドトリガーをタグに変更
  .github/workflows/build.yaml
Due: none

chore: Channel::getMaxUsersの返り値を変更
  pkg/domain/channel/Channel.cpp
  pkg/domain/channel/Channel.hpp
  pkg/domain/channel/IChannelAggregateRoot.hpp
  pkg/tests/domain/channel/test_Channel.cpp
  pkg/tests/infra/database/test_InmemoryChannelDatabase.cpp
Due: domain

update: テスト用のサーバーポートを8080から8085に変更
  pkg/tests/application/useCases/test_StartServerUseCase.cpp
Due: none

update: Channelモードを追加
  pkg/application/commands/Mode.cpp
  pkg/domain/channel/IChannelAggregateRoot.hpp
Due: application, domain

add: TOPICコマンドの実装 (#41)
  pkg/application/commands/Topic.cpp
  pkg/application/commands/Topic.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
  pkg/domain/channel/Channel.cpp
  pkg/domain/channel/Channel.hpp
  pkg/domain/channel/IChannelAggregateRoot.hpp
Due: application, domain

update(domain): channnelにキーを設定するメソッドを追加
  pkg/domain/channel/Channel.cpp
  pkg/domain/channel/Channel.hpp
  pkg/domain/channel/IChannelAggregateRoot.hpp
  pkg/tests/infra/database/test_InmemoryChannelDatabase.cpp
Due: domain

update(commands/MODE): モードのパラメータのシンタックスチェックを追加
  pkg/application/commands/Mode.cpp
  pkg/application/commands/Mode.hpp
  pkg/domain/message/MessageConstants.hpp
Due: application, domain

update: .gitignoreにPDFファイルを追加
  .gitignore
Due: none
