Repository GawinGowin/ft_irc: changes, and which Codecov flags are due for each by the changed paths.
All: application, domain, infra, presentation

codecov.yaml:

comment:
  layout: "header, diff, flags, components, files, footer"  # show component info in the PR comment
  
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_application  # this is an identifier that should not be changed
      name: application  # this is a display name, and can be changed freely
      paths:
        - pkg/application/**
    - component_id: module_domain
      name: domain
      paths:
        - pkg/domain/**
    - component_id: module_infra
      name: infra
      paths:
        - pkg/infra/**
    - component_id: module_presentation
      name: presentation
      paths:
        - pkg/presentation/**

fix: ログを微調整
  pkg/application/useCases/RecieveMsgUseCase.cpp
  pkg/application/useCases/SendMsgFromServerUseCase.cpp
Due: application

fix(SocketHandler): メッセージを受信するときに、改行コード(`\r\n`)で分割するように変更
  pkg/infra/socket/SocketHandler.cpp
  pkg/tests/infra/socket/test_SocketHandler.cpp
Due: infra

fix(SocketHandler): recvが改行まで文字列受信を待機する仕様に修正 (#69)
  pkg/application/useCases/RecieveMsgUseCase.cpp
  pkg/application/useCases/SendMsgFromServerUseCase.cpp
  pkg/infra/socket/SocketHandler.cpp
  pkg/tests/infra/socket/test_SocketHandler.cpp
Due: application, infra

fix: 改行コードをいい感じに
  tools/locustfile.py
Due: none

27-現行のft_ircでlocustによる負荷を検証できることが確認できた
  tools/locustfile.py
Due: none

fix: ACommandを修正
  pkg/application/commands/ACommands.cpp
  pkg/application/commands/ACommands.hpp
Due: application

refacotr: コマンドの呼び出しを修正
  pkg/application/commands/ACommands.hpp
  pkg/application/dto/SendMsgDTO.cpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
  pkg/infra/socket/SocketHandler.cpp
Due: application, infra

fix(test): SocketHandlerのテストを修正
  pkg/tests/infra/socket/test_SocketHandler.cpp
Due: none

fix(commands/pass): PASSコマンドの原型を作成
  pkg/application/commands/PassCommand.cpp
  pkg/application/commands/PassCommand.hpp
Due: application

patch: Commandの呼び出しロジックを微調整 (#71)
  pkg/application/commands/ACommands.cpp
  pkg/application/commands/ACommands.hpp
  pkg/application/dto/SendMsgDTO.cpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
  pkg/infra/socket/SocketHandler.cpp
  pkg/tests/infra/socket/test_SocketHandler.cpp
Due: application, infra

update: Sentryのリリースバージョンを変更し、サーバースタートメッセージのキャプチャを削除
  cmd/ft_irc/main.cpp
Due: none

add: Sentry loggerを追加して使用できるようにした
  pkg/application/serviceLocator/LoggerServiceLocator.hpp
  pkg/infra/logger/SentryLogger.hpp
  pkg/presentation/entrypoint.cpp
Due: application, infra, presentation

fmt
  pkg/application/serviceLocator/LoggerServiceLocator.hpp
  pkg/presentation/entrypoint.cpp
Due: application, presentation

Update README.md
  README.md
Due: none

NICKの実装
  pkg/application/commands/Nick.cpp
  pkg/application/commands/Nick.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
Due: application

fmt
  pkg/application/useCases/RunCommandsUseCase.hpp
Due: application

feat: NICKの実装 (#73)
  pkg/application/commands/Nick.cpp
  pkg/application/commands/Nick.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
Due: application

Add test case for NAMES command and fix build issues
  CMakeLists.txt
  Makefile
  pkg/domain/message/IMessageAggregateRoot.hpp
  pkg/domain/message/Parser.cpp
  pkg/tests/CMakeLists.txt
  pkg/tests/domain/message/test_Parser.cpp
Due: domain

patch: Loggerに呼び出した瞬間例外をスローするfatalメソッドを追加
  .vscode/settings.json
  pkg/application/serviceLocator/LoggerServiceLocator.hpp
  pkg/infra/logger/ConsoleLogger.hpp
  pkg/infra/logger/FileLogger.hpp
  pkg/infra/logger/ILogger.hpp
  pkg/infra/logger/LogLevel.hpp
  pkg/infra/logger/MultiLogger.hpp
  pkg/infra/logger/StreamLogger.hpp
  pkg/tests/infra/logger/test_ConsoleLogger.cpp
  pkg/tests/infra/logger/test_FileLogger.cpp
  pkg/tests/infra/logger/test_MultiLogger.cpp
Due: application, infra

patch(Logger): 呼び出したら例外をスローするfatalメソッドを追加 (#75)
  .vscode/settings.json
  pkg/application/serviceLocator/LoggerServiceLocator.hpp
  pkg/infra/logger/ConsoleLogger.hpp
  pkg/infra/logger/FileLogger.hpp
  pkg/infra/logger/ILogger.hpp
  pkg/infra/logger/LogLevel.hpp
  pkg/infra/logger/MultiLogger.hpp
  pkg/infra/logger/StreamLogger.hpp
  pkg/tests/infra/logger/test_ConsoleLogger.cpp
  pkg/tests/infra/logger/test_FileLogger.cpp
  pkg/tests/infra/logger/test_MultiLogger.cpp
Due: application, infra

update: Clientのパスワードメンバ変数を値オブジェクトにして、変更可能か否かのフラグを持たせた
  pkg/domain/client/Client.cpp
  pkg/domain/client/Client.hpp
  pkg/domain/client/IClientAggregateRoot.hpp
  pkg/domain/client/Password.hpp
  pkg/tests/CMakeLists.txt
  pkg/tests/domain/client/test_Password.cpp
  pkg/tests/infra/database/test_InmemoryClientDatabase.cpp
Due: domain

feat: PASSコマンドの実装とクライアントのパスワード設定ロジックを修正
  pkg/application/commands/Pass.cpp
  pkg/application/commands/Pass.hpp
  pkg/application/commands/PassCommand.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
  pkg/domain/client/Client.cpp
Due: application, domain

fmt
  pkg/application/commands/Pass.cpp
Due: application

rm: 使用されていなかったテストファイルを削除
  pkg/tests/domain/client/test_Client.cpp
Due: none

add(commands): PASS コマンドを追加 (#76)
  pkg/application/commands/Pass.cpp
  pkg/application/commands/Pass.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
  pkg/domain/client/Client.cpp
  pkg/domain/client/Client.hpp
  pkg/domain/client/IClientAggregateRoot.hpp
  pkg/domain/client/Password.hpp
  pkg/tests/CMakeLists.txt
  pkg/tests/domain/client/test_Client.cpp
  pkg/tests/domain/client/test_Password.cpp
  pkg/tests/infra/database/test_InmemoryClientDatabase.cpp
Due: application, domain

update: StartServerDTOが例外をスローしないように修正
  pkg/application/dto/StartServerDTO.cpp
  pkg/application/dto/StartServerDTO.hpp
  pkg/tests/application/dto/test_StartServerDTO.cpp
Due: application

update: fatal loggerを使うようにした
  pkg/presentation/entrypoint.cpp
Due: presentation

patch: シグナルによる終了のロジックをクリーンにした
  cmd/ft_irc/main.cpp
  pkg/infra/socket/SocketHandler.cpp
  pkg/presentation/entrypoint.cpp
  pkg/presentation/signal.cpp
  pkg/tests/infra/logger/test_MultiLogger.cpp
Due: infra, presentation

fix: グローバル変数の位置をちょっと変えた
  cmd/ft_irc/main.cpp
  pkg/presentation/entrypoint.cpp
Due: presentation

patch: entrypointをクリーンにした (#77)
  cmd/ft_irc/main.cpp
  pkg/application/dto/StartServerDTO.cpp
  pkg/application/dto/StartServerDTO.hpp
  pkg/infra/socket/SocketHandler.cpp
  pkg/presentation/entrypoint.cpp
  pkg/presentation/signal.cpp
  pkg/tests/application/dto/test_StartServerDTO.cpp
  pkg/tests/infra/logger/test_MultiLogger.cpp
Due: application, infra, presentation

patch: .gitignoreに*.infoを追加し、Makefileにカバレッジコマンドを追加
  .gitignore
  Makefile
Due: none

patch: .gitignoreに*.infoを追加し、Makefileにカバレッジコマンドを追加 (#78)
  .gitignore
  Makefile
Due: none

Commands.txtを日本語訳
  Commands.txt
  config/Commands.jp.txt
Due: none

update: chilentのIDをそのままnicknameを使用する形にした
  pkg/domain/channel/ChannelClientList.cpp
  pkg/domain/channel/ChannelClientList.hpp
  pkg/domain/channel/ChannelService.cpp
  pkg/domain/channel/ChannelService.hpp
  pkg/domain/channel/ChannelTopic.cpp
  pkg/domain/channel/ChannelTopic.hpp
  pkg/tests/domain/channel/test_ChannelClientList.cpp
  pkg/tests/domain/channel/test_ChannelTopic.cpp
Due: domain

fix(InmemoryChannelDatabase): getterからconstを外した
  pkg/domain/channel/IChannelRepository.hpp
  pkg/infra/database/InmemoryChannelDatabase.cpp
  pkg/infra/database/InmemoryChannelDatabase.hpp
Due: domain, infra

add: 仮でJOINコマンドを実装
  pkg/application/commands/Join.cpp
  pkg/application/commands/Join.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
Due: application

fix(Join): ニックネームが未設定の場合のエラーハンドリングを追加
  pkg/application/commands/Join.cpp
Due: application

update(Command): Joinコマンドの仮実装 (#80)
  Commands.txt
  config/Commands.jp.txt
  pkg/application/commands/Join.cpp
  pkg/application/commands/Join.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
  pkg/domain/channel/ChannelClientList.cpp
  pkg/domain/channel/ChannelClientList.hpp
  pkg/domain/channel/ChannelService.cpp
  pkg/domain/channel/ChannelService.hpp
  pkg/domain/channel/ChannelTopic.cpp
  pkg/domain/channel/ChannelTopic.hpp
  pkg/domain/channel/IChannelRepository.hpp
  pkg/infra/database/InmemoryChannelDatabase.cpp
  pkg/infra/database/InmemoryChannelDatabase.hpp
  pkg/tests/domain/channel/test_ChannelClientList.cpp
  pkg/tests/domain/channel/test_ChannelTopic.cpp
Due: application, domain, infra

fix: Join時の挙動を強化
  .env.example
  pkg/application/commands/Join.cpp
  pkg/domain/channel/Channel.cpp
  pkg/domain/channel/Channel.hpp
  pkg/domain/channel/ChannelClientList.cpp
  pkg/domain/channel/ChannelClientList.hpp
  pkg/domain/channel/IChannelAggregateRoot.hpp
  pkg/tests/domain/client/test_Password.cpp
  pkg/tests/infra/database/test_InmemoryChannelDatabase.cpp
Due: application, domain

fix: 校舎でコンパイル可能なように微調整
  CMakeLists.txt
  pkg/application/commands/Join.cpp
  pkg/application/dto/MonitorSocketEventDTO.hpp
  pkg/application/dto/StartServerDTO.hpp
  pkg/domain/channel/IChannelAggregateRoot.hpp
  pkg/domain/channel/IChannelRepository.hpp
  pkg/domain/client/IClientAggregateRoot.hpp
  pkg/domain/client/IClientRepository.hpp
  pkg/domain/configs/IConfigsRepository.hpp
  pkg/domain/message/IMessageAggregateRoot.hpp
  pkg/domain/message/Parser.hpp
  pkg/domain/shared/values/IHashAggregateRoot.hpp
  pkg/infra/logger/ILogger.hpp
  pkg/infra/socket/ISocketHandler.hpp
  pkg/tests/infra/socket/test_SocketHandler.cpp
Due: application, domain, infra
