Repository GawinGowin/ft_irc: changes, and which Codecov flags are due for each by the changed paths.
All: application, domain, infra, presentation

応答メッセージを追加
  pkg/application/commands/Nick.cpp
  pkg/application/commands/User.cpp
  pkg/application/useCases/StartServerUseCase.cpp
  pkg/domain/client/ClientService.cpp
  pkg/domain/client/ClientService.hpp
  pkg/domain/configs/GlobalConfig.hpp
  pkg/domain/message/MessageConstants.hpp
  pkg/infra/configs/ConfigsLoader.cpp
  pkg/infra/configs/ConfigsLoader.hpp
Due: application, domain, infra

fmt
  pkg/domain/client/ClientService.cpp
  pkg/domain/client/ClientService.hpp
  pkg/infra/configs/ConfigsLoader.hpp
Due: domain, infra

fix: 130-応答メッセージの拡充 (#141)
  pkg/application/commands/Nick.cpp
  pkg/application/commands/User.cpp
  pkg/application/useCases/StartServerUseCase.cpp
  pkg/domain/client/ClientService.cpp
  pkg/domain/client/ClientService.hpp
  pkg/domain/configs/GlobalConfig.hpp
  pkg/domain/message/MessageConstants.hpp
  pkg/infra/configs/ConfigsLoader.cpp
  pkg/infra/configs/ConfigsLoader.hpp
Due: application, domain, infra

add: +kのMODEコマンドに関してのテストケース追加
  .vscode/tasks.json
  tests/e2e/MODE_k.json
Due: none

update(e2e): concurrent.futuresを用いてテスト速度を倍速にした
  tests/e2e/irc_e2e.py
Due: none

fix: パスワードが間違っている際のメッセージを作成
  pkg/application/commands/Join.cpp
  pkg/domain/message/MessageConstants.hpp
Due: application, domain

fix: チャンネルのパスワードチェックを修正し、空のアイテムをスキップする処理を追加
  pkg/application/commands/Join.cpp
  tests/e2e/MODE_k_dev.json
Due: application

fix: チャンネルが満員の際のエラーメッセージを追加
  pkg/application/commands/Join.cpp
  pkg/domain/message/MessageConstants.hpp
Due: application, domain

fix: 招待制チャンネルへの参加時にエラーメッセージを追加
  pkg/application/commands/Join.cpp
  pkg/domain/message/MessageConstants.hpp
Due: application, domain

fix: ニックネームのチェック処理を修正し、許可される文字を更新
  pkg/application/commands/Nick.cpp
Due: application

fix: ニックネームのチェック処理を改善し、禁止される先頭文字を追加
  pkg/application/commands/Join.cpp
  pkg/application/commands/Nick.cpp
Due: application

fix: デバッグ用のパスワード引数を修正し、テストケースを追加
  .vscode/launch.json
  .vscode/tasks.json
  tests/e2e/MODE_i.json
  tests/e2e/MODE_l.json
  tests/e2e/MODE_o.json
  tests/e2e/MODE_t.json
Due: none

update: MODEに関係して、メッセージを修正
  pkg/application/commands/Join.cpp
Due: application

fix: JOINメッセージの生成処理を改善し、ブロードキャストの形式を修正
  pkg/application/commands/Join.cpp
Due: application

update: MODEコマンドのパーサー調整
  pkg/application/commands/Mode.cpp
Due: application

fix(Message): 特定のMessageコンストラクタを使用した時に、最後のパラメータに`:`が付くバグを修正
  pkg/domain/message/Message.cpp
Due: domain

fix(Message): 特定のMessageコンストラクタを使用した時に、最後のパラメータに`:`が付くバグを修正 (#142)
  pkg/domain/message/Message.cpp
Due: domain

update: テスト用の引数を修正し、代替ホストを変更
  .vscode/tasks.json
Due: none

update: ModeコマンドやJOINコマンドの応答を修正 (#143)
  .vscode/launch.json
  .vscode/tasks.json
  pkg/application/commands/Join.cpp
  pkg/application/commands/Mode.cpp
  pkg/application/commands/Nick.cpp
  pkg/domain/message/MessageConstants.hpp
  tests/e2e/MODE_i.json
  tests/e2e/MODE_k.json
  tests/e2e/MODE_k_dev.json
  tests/e2e/MODE_l.json
  tests/e2e/MODE_o.json
  tests/e2e/MODE_t.json
  tests/e2e/irc_e2e.py
Due: application, domain

fix: 接続数が最大に達した際のクライアント接続処理を修正
  pkg/application/useCases/AcceptConnectionUseCase.cpp
  pkg/infra/socket/SocketHandler.cpp
Due: application, infra

update: 結合して送られたコマンドもイイ感じに解釈できるように修正した
  pkg/application/useCases/RecieveMsgUseCase.cpp
  pkg/application/useCases/RecieveMsgUseCase.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/infra/socket/SocketHandler.cpp
  pkg/infra/socket/SocketHandler.hpp
  pkg/presentation/entrypoint.cpp
Due: application, infra, presentation

add: testケースを追加
  .vscode/tasks.json
  tests/e2e/certification_dev.json
Due: none

fmt
  pkg/infra/socket/SocketHandler.hpp
  pkg/presentation/entrypoint.cpp
Due: infra, presentation

add: このテストケースでは末尾に勝手に改行をつけないよう、E2Eのコードをこんな感じでコメントアウトする
  tests/e2e/certification_dev.json
  tests/e2e/irc_e2e.py
Due: none

fix: コメントアウト解除
  tests/e2e/irc_e2e.py
Due: none

fix: testコードを修正
  pkg/infra/socket/SocketHandler.cpp
  tests/gtests/infra/socket/test_SocketHandler.cpp
Due: infra

update: IRSSIのために\r\nで複数のコマンドを接続していたとしても、正しく解釈できるようにした (#148)
  .vscode/tasks.json
  pkg/application/useCases/AcceptConnectionUseCase.cpp
  pkg/application/useCases/RecieveMsgUseCase.cpp
  pkg/application/useCases/RecieveMsgUseCase.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/infra/socket/SocketHandler.cpp
  pkg/infra/socket/SocketHandler.hpp
  pkg/presentation/entrypoint.cpp
  tests/e2e/certification_dev.json
  tests/e2e/irc_e2e.py
  tests/gtests/infra/socket/test_SocketHandler.cpp
Due: application, infra, presentation

patch: 小文字でもコマンド解釈と実行ができるように
  pkg/domain/message/Message.cpp
Due: domain

rm: 不要なテストを消去
  tests/gtests/domain/message/test_Message.cpp
Due: none

patch: 小文字でもコマンド解釈と実行ができるように (#149)
  pkg/domain/message/Message.cpp
  tests/gtests/domain/message/test_Message.cpp
Due: domain

fix: 生成される実行ファイルの名前をircservに変更
  .gitignore
  .vscode/launch.json
  CMakeLists.txt
  Dockerfile
  Makefile
  cmd/ircserv/main.cpp
  pkg/infra/configs/ConfigsLoader.cpp
  pkg/presentation/entrypoint.cpp
  tests/gtests/application/dto/test_StartServerDTO.cpp
  tests/gtests/application/useCases/test_StartServerUseCase.cpp
  tests/load-generator/locustfile.py
Due: infra, presentation

fix: 生成される実行ファイルの名前をircservに変更 (#151)
  .gitignore
  .vscode/launch.json
  CMakeLists.txt
  Dockerfile
  Makefile
  cmd/ircserv/main.cpp
  pkg/infra/configs/ConfigsLoader.cpp
  pkg/presentation/entrypoint.cpp
  tests/gtests/application/dto/test_StartServerDTO.cpp
  tests/gtests/application/useCases/test_StartServerUseCase.cpp
  tests/load-generator/locustfile.py
Due: infra, presentation

doc: update Readme
  README.md
Due: none

doc: update Readme (#152)
  README.md
Due: none

fix: なんか重複していたので一つにした
  pkg/application/useCases/RecieveMsgUseCase.cpp
Due: application

fix: なんか重複していたので一つにした (#153)
  pkg/application/useCases/RecieveMsgUseCase.cpp
Due: application

update: partを仮作成
  pkg/application/commands/Part.cpp
  pkg/application/commands/Part.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
  pkg/domain/message/Message.cpp
  pkg/domain/message/MessageConstants.hpp
Due: application, domain

add: CAPコマンド対応 #146
  pkg/application/commands/Cap.cpp
  pkg/application/commands/Cap.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/domain/message/Message.cpp
  pkg/domain/message/MessageConstants.hpp
Due: application, domain

Path conditions:
  application: any of: pkg/application/**
  domain: any of: pkg/domain/**
  infra: any of: pkg/infra/**
  presentation: any of: pkg/presentation/**
