Repository GawinGowin/ft_irc: changes, and which Codecov flags are due for each by the changed paths.
All: application, domain, infra, presentation

fmt
  pkg/application/commands/Nick.cpp
  pkg/application/commands/User.cpp
  pkg/domain/client/Client.cpp
Due: application, domain

fmt (#116)
  pkg/application/commands/Nick.cpp
  pkg/application/commands/User.cpp
  pkg/domain/client/Client.cpp
Due: application, domain

Revert "fmt (#116)"
  pkg/application/commands/Nick.cpp
  pkg/application/commands/User.cpp
  pkg/domain/client/Client.cpp
Due: application, domain

Revert "fmt (#116)" (#117)
  pkg/application/commands/Nick.cpp
  pkg/application/commands/User.cpp
  pkg/domain/client/Client.cpp
Due: application, domain

Revert "feat: USERコマンドの実装 (#114)"
  pkg/application/commands/Nick.cpp
  pkg/application/commands/User.cpp
  pkg/application/commands/User.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
  pkg/domain/client/Client.cpp
  pkg/domain/client/Client.hpp
  pkg/domain/client/IClientAggregateRoot.hpp
  pkg/domain/message/MessageConstants.hpp
  pkg/presentation/entrypoint.cpp
Due: application, domain, presentation

Revert "feat: USERコマンドの実装 (#114)" (#118)
  pkg/application/commands/Nick.cpp
  pkg/application/commands/User.cpp
  pkg/application/commands/User.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
  pkg/domain/client/Client.cpp
  pkg/domain/client/Client.hpp
  pkg/domain/client/IClientAggregateRoot.hpp
  pkg/domain/message/MessageConstants.hpp
  pkg/presentation/entrypoint.cpp
Due: application, domain, presentation

MOCK_METHODを追加
  pkg/tests/infra/database/test_InmemoryClientDatabase.cpp
Due: none

feat: USERコマンドの実装 (#119)
  pkg/application/commands/Nick.cpp
  pkg/application/commands/User.cpp
  pkg/application/commands/User.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
  pkg/domain/client/Client.cpp
  pkg/domain/client/Client.hpp
  pkg/domain/client/IClientAggregateRoot.hpp
  pkg/domain/message/MessageConstants.hpp
  pkg/presentation/entrypoint.cpp
  pkg/tests/infra/database/test_InmemoryClientDatabase.cpp
Due: application, domain, presentation

feat: load-generatorサービスをdocker-composeに追加し、設定を分離
  docker-compose.loadgen.yaml
  docker-compose.yaml
Due: none

add: 負荷テストを追加 (#122)
  .env
  .env.example
  .gitignore
  Makefile
  docker-compose.loadgen.yaml
  docker-compose.yaml
  pkg/tests/CMakeLists.txt
  pkg/tests/presentation/test_entrypoint.cpp
  pkg/tests/presentation/test_main.cpp
  requirements.txt
  tests/load-generator/Dockerfile
  tests/load-generator/locustfile.py
  tests/load-generator/requirements.txt
  tools/locustfile.py
Due: none

test: 新しいユニットテストを追加し、テスト構成を更新
  CMakeLists.txt
  Makefile
  tests/gtests/CMakeLists.txt
  tests/gtests/application/dto/test_StartServerDTO.cpp
  tests/gtests/application/serviceLocator/test_LoggerServiceLocator.cpp
  tests/gtests/application/test_main.cpp
  tests/gtests/application/useCases/test_StartServerUseCase.cpp
  tests/gtests/domain/channel/test_Channel.cpp
  tests/gtests/domain/channel/test_ChannelClientList.cpp
  tests/gtests/domain/channel/test_ChannelTopic.cpp
  tests/gtests/domain/client/test_Password.cpp
  tests/gtests/domain/message/test_Message.cpp
  tests/gtests/domain/message/test_MessageParseParams.cpp
  tests/gtests/domain/message/test_MessageParser.cpp
  tests/gtests/domain/message/test_MessageParserPrefix.cpp
  tests/gtests/domain/shared/test_JenkinsHash.cpp
  tests/gtests/domain/shared/test_RFCChannelHash.cpp
  tests/gtests/domain/test_main.cpp
  tests/gtests/infra/database/test_InmemoryChannelDatabase.cpp
  tests/gtests/infra/database/test_InmemoryClientDatabase.cpp
  tests/gtests/infra/logger/test_ConsoleLogger.cpp
  tests/gtests/infra/logger/test_FileLogger.cpp
  tests/gtests/infra/logger/test_MultiLogger.cpp
  tests/gtests/infra/socket/test_SocketHandler.cpp
  tests/gtests/infra/test_main.cpp
Due: none

test: JenkinsHashおよびRFCChannelHashのユニットテストを追加
  tests/gtests/CMakeLists.txt
  tests/gtests/domain/hash/test_JenkinsHash.cpp
  tests/gtests/domain/hash/test_RFCChannelHash.cpp
Due: none

fix: CMakeLists.txtのソースファイル検索パターンを整理
  CMakeLists.txt
Due: none

refactor: テストに関係するディレクトリ構造をリファクタ (#123)
  CMakeLists.txt
  Makefile
  tests/gtests/CMakeLists.txt
  tests/gtests/application/dto/test_StartServerDTO.cpp
  tests/gtests/application/serviceLocator/test_LoggerServiceLocator.cpp
  tests/gtests/application/test_main.cpp
  tests/gtests/application/useCases/test_StartServerUseCase.cpp
  tests/gtests/domain/channel/test_Channel.cpp
  tests/gtests/domain/channel/test_ChannelClientList.cpp
  tests/gtests/domain/channel/test_ChannelTopic.cpp
  tests/gtests/domain/client/test_Password.cpp
  tests/gtests/domain/hash/test_JenkinsHash.cpp
  tests/gtests/domain/hash/test_RFCChannelHash.cpp
  tests/gtests/domain/message/test_Message.cpp
  tests/gtests/domain/message/test_MessageParseParams.cpp
  tests/gtests/domain/message/test_MessageParser.cpp
  tests/gtests/domain/message/test_MessageParserPrefix.cpp
  tests/gtests/domain/test_main.cpp
  tests/gtests/infra/database/test_InmemoryChannelDatabase.cpp
  tests/gtests/infra/database/test_InmemoryClientDatabase.cpp
  tests/gtests/infra/logger/test_ConsoleLogger.cpp
  tests/gtests/infra/logger/test_FileLogger.cpp
  tests/gtests/infra/logger/test_MultiLogger.cpp
  tests/gtests/infra/socket/test_SocketHandler.cpp
  tests/gtests/infra/test_main.cpp
Due: none

refactor: requirements.txtからpytestを削除
  tests/load-generator/requirements.txt
Due: none

feat: E2Eテスト用のIRCクライアントとテストケースを追加
  tests/e2e/.gitignore
  tests/e2e/irc_e2e.py
  tests/e2e/testcases.json
Due: none

feat: E2Eテスト用のタスクを追加し、ログファイルの拡張子を変更
  .vscode/tasks.json
  tests/e2e/.gitignore
  tests/e2e/irc_e2e.py
  tests/e2e/testcases.json
Due: none

add: e2eテストを半自動で行えるPythonスクリプトを追加 (#124)
  .vscode/tasks.json
  tests/e2e/irc_e2e.py
  tests/e2e/testcases.json
  tests/load-generator/requirements.txt
Due: none

fix: ソケットのタイムアウトを0.1秒から0.5秒に変更
  tests/e2e/irc_e2e.py
Due: none

add: PASSコマンドのテストケースを追加
  .vscode/tasks.json
  tests/e2e/pass.json
Due: none

fix: PASSコマンドのエラーメッセージをngircdに合わせる
  pkg/application/commands/Pass.cpp
  pkg/domain/message/Message.cpp
Due: application, domain

fix: e2eテストクライアントの引数を修正し、複数のテストファイルを受け入れるように変更
  .vscode/tasks.json
  tests/e2e/irc_e2e.py
Due: none

fix: PASSコマンドのタイムアウトを0.6秒から0.8秒に変更し、追加のテストケースを含める
  tests/e2e/pass.json
Due: none

fix: 引数が指定されていない場合のエラーメッセージを追加し、代替サーバーの説明を更新
  tests/e2e/irc_e2e.py
Due: none

chore: gitignore等微細な開発環境の設定調整
  .gitignore
  .vscode/tasks.json
  Makefile
  tests/e2e/certification.json
  tests/e2e/testcases.json
Due: none

fix: ロガーの初期化で定数を使用し、コードの可読性を向上
  pkg/presentation/entrypoint.cpp
Due: presentation

fix: レスポンスコードの定数を整理し、重複を削除
  pkg/domain/message/MessageConstants.hpp
Due: domain

fix: プレフィックスが空の場合の処理を追加し、メッセージ解析の条件を修正
  pkg/domain/message/Message.cpp
Due: domain

refactor: ログイン処理を分割
  pkg/application/commands/Nick.cpp
  pkg/application/commands/Nick.hpp
  pkg/application/commands/User.cpp
  pkg/application/commands/User.hpp
  pkg/domain/client/ClientService.cpp
  pkg/domain/client/ClientService.hpp
Due: application, domain

fix: サーバー起動時にPortをログ出力するようにした
  pkg/presentation/entrypoint.cpp
  pkg/presentation/entrypoint.hpp
Due: presentation

chore: 応答をngircdに近づけた
  pkg/domain/client/Client.cpp
  pkg/domain/client/ClientService.cpp
  pkg/domain/message/Message.cpp
  pkg/domain/message/Message.hpp
  pkg/presentation/entrypoint.hpp
  tests/gtests/domain/message/test_Message.cpp
Due: domain, presentation

fix: メッセージ解析エラー時にコマンドをエラー定数に設定
  pkg/domain/message/Message.cpp
Due: domain

fix: メッセージ解析の条件を修正し、コマンドが未定義の場合の処理を改善
  pkg/domain/message/Message.cpp
  tests/gtests/domain/message/test_MessageParser.cpp
Due: domain

update: パスワードの検証ロジックを追加 (#125)
  .gitignore
  .vscode/tasks.json
  Makefile
  pkg/application/commands/Nick.cpp
  pkg/application/commands/Nick.hpp
  pkg/application/commands/Pass.cpp
  pkg/application/commands/User.cpp
  pkg/application/commands/User.hpp
  pkg/domain/client/Client.cpp
  pkg/domain/client/ClientService.cpp
  pkg/domain/client/ClientService.hpp
  pkg/domain/message/Message.cpp
  pkg/domain/message/Message.hpp
  pkg/domain/message/MessageConstants.hpp
  pkg/presentation/entrypoint.cpp
  pkg/presentation/entrypoint.hpp
  tests/e2e/certification.json
  tests/e2e/irc_e2e.py
  tests/e2e/pass.json
  tests/e2e/testcases.json
  tests/gtests/domain/message/test_Message.cpp
  tests/gtests/domain/message/test_MessageParser.cpp
Due: application, domain, presentation

update: NICKコマンドの出力をngircdに近づけた
  pkg/application/commands/Nick.cpp
  pkg/application/commands/Nick.hpp
  pkg/domain/message/MessageConstants.hpp
  tests/e2e/nick.json
Due: application, domain

fmt
  pkg/application/commands/Nick.hpp
Due: application

update: NICKコマンドの出力をngircdに近づけた (#126)
  pkg/application/commands/Nick.cpp
  pkg/application/commands/Nick.hpp
  pkg/domain/message/MessageConstants.hpp
  tests/e2e/nick.json
Due: application, domain

update: Sentry SDKを使用する構成を融合
  .env.sentry.example
  .vscode/launch.json
  CMakeLists.txt
  README.md
  cmd/ft_irc/main.cpp
  pkg/application/serviceLocator/LoggerServiceLocator.hpp
  pkg/infra/logger/SentryLogger.hpp
  pkg/presentation/entrypoint.cpp
Due: application, infra, presentation

update: 環境にSentrySDKがあり、且つ、vscode でcpp11でデバッグ実行したのみSentry有功で実行される
  .env.sentry.example
  .vscode/launch.json
  CMakeLists.txt
  cmd/ft_irc/main.cpp
  pkg/infra/logger/SentryLogger.hpp
  pkg/presentation/entrypoint.cpp
Due: infra, presentation

Path conditions:
  application: any of: pkg/application/**
  domain: any of: pkg/domain/**
  infra: any of: pkg/infra/**
  presentation: any of: pkg/presentation/**
