Repository GawinGowin/ft_irc: changes, and which Codecov flags are due for each by the changed paths.
All: application, domain, infra, presentation

codecov.yaml:

comment:
  layout: "header, diff, flags, components, files, footer"  # show component info in the PR comment
  
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_application  # this is an identifier that should not be changed
      name: application  # this is a display name, and can be changed freely
      paths:
        - pkg/application/**
    - component_id: module_domain
      name: domain
      paths:
        - pkg/domain/**
    - component_id: module_infra
      name: infra
      paths:
        - pkg/infra/**
    - component_id: module_presentation
      name: presentation
      paths:
        - pkg/presentation/**

update: チャンネルにメッセージを配信するサービスを作成
  pkg/domain/message/MessageService.hpp
  pkg/domain/message/MessageStream.hpp
Due: domain

fmt
  pkg/application/dto/MonitorSocketEventDTO.hpp
  pkg/application/dto/StartServerDTO.hpp
  pkg/domain/channel/IChannelAggregateRoot.hpp
  pkg/domain/channel/IChannelRepository.hpp
  pkg/domain/client/IClientAggregateRoot.hpp
  pkg/domain/client/IClientRepository.hpp
  pkg/domain/configs/IConfigsRepository.hpp
  pkg/domain/message/IMessageAggregateRoot.hpp
  pkg/domain/message/Parser.hpp
  pkg/domain/shared/values/IHashAggregateRoot.hpp
  pkg/infra/logger/ILogger.hpp
  pkg/infra/socket/ISocketHandler.hpp
  pkg/tests/infra/socket/test_SocketHandler.cpp
Due: application, domain, infra

update: ClientクラスのgetIdメソッドをintからstringに変更
  pkg/domain/client/Client.cpp
  pkg/domain/client/Client.hpp
  pkg/domain/client/IClientAggregateRoot.hpp
Due: domain

update(CMake): CMakeの最小バージョンを3.25.1に更新
  CMakeLists.txt
Due: none

update(CMake): CMakeの最小バージョンを3.25.1に更新 (#83)
  CMakeLists.txt
Due: none

fix: idをstd::stringにした
  pkg/application/factory/.gitkeep
  pkg/domain/client/Client.cpp
  pkg/domain/client/Client.hpp
  pkg/domain/client/IClientAggregateRoot.hpp
  pkg/domain/client/IClientRepository.hpp
  pkg/infra/database/InmemoryClientDatabase.cpp
  pkg/infra/database/InmemoryClientDatabase.hpp
  pkg/tests/infra/database/test_InmemoryClientDatabase.cpp
Due: application, domain, infra

feat: チャンネルのモードフラグの機能を強化し、チャンネルへのメッセージ送信機能を追加
  pkg/domain/channel/Channel.cpp
  pkg/domain/channel/Channel.hpp
  pkg/domain/channel/ChannelClientList.hpp
  pkg/domain/channel/IChannelAggregateRoot.hpp
  pkg/domain/message/MessageService.cpp
  pkg/domain/message/MessageService.hpp
  pkg/tests/infra/database/test_InmemoryChannelDatabase.cpp
Due: domain

update: 出力系統には修正の余地があるが、JOINコマンドを実装
  .env.example
  pkg/application/commands/Join.cpp
  pkg/application/commands/Join.generated.cpp
  pkg/application/commands/Join.hpp
  pkg/application/constants/ExitStatus.hpp
  pkg/application/dto/MonitorSocketEventDTO.hpp
  pkg/application/dto/StartServerDTO.hpp
  pkg/domain/channel/Channel.cpp
  pkg/domain/channel/Channel.hpp
  pkg/domain/channel/ChannelClientList.cpp
  pkg/domain/channel/ChannelClientList.hpp
  pkg/domain/channel/IChannelAggregateRoot.hpp
  pkg/domain/channel/IChannelRepository.hpp
  pkg/domain/client/IClientAggregateRoot.hpp
  pkg/domain/client/IClientRepository.hpp
  pkg/domain/configs/IConfigsRepository.hpp
  pkg/domain/message/IMessageAggregateRoot.hpp
  pkg/domain/message/MessageService.cpp
  pkg/domain/message/MessageStream.hpp
  pkg/domain/message/Parser.hpp
  pkg/domain/shared/values/IHashAggregateRoot.hpp
  pkg/infra/logger/ILogger.hpp
  pkg/infra/socket/ISocketHandler.hpp
  pkg/tests/domain/client/test_Password.cpp
  pkg/tests/infra/database/test_InmemoryChannelDatabase.cpp
  pkg/tests/infra/socket/test_SocketHandler.cpp
Due: application, domain, infra

chore: 使用していないファイルを消去 & fmt
  .env.example
  pkg/application/commands/Join.generated.cpp
  pkg/application/constants/ExitStatus.hpp
  pkg/application/dto/MonitorSocketEventDTO.hpp
  pkg/application/dto/StartServerDTO.hpp
  pkg/domain/channel/IChannelRepository.hpp
  pkg/domain/client/IClientAggregateRoot.hpp
  pkg/domain/client/IClientRepository.hpp
  pkg/domain/configs/IConfigsRepository.hpp
  pkg/domain/message/IMessageAggregateRoot.hpp
  pkg/domain/message/Parser.hpp
  pkg/domain/shared/values/IHashAggregateRoot.hpp
  pkg/infra/logger/ILogger.hpp
  pkg/infra/socket/ISocketHandler.hpp
  pkg/tests/infra/socket/test_SocketHandler.cpp
Due: application, domain, infra

messageクラスを確認
  pkg/domain/message/MessageService.cpp
  pkg/domain/message/MessageService.hpp
  pkg/domain/message/Parser.cpp
  pkg/domain/message/Parser.hpp
  pkg/domain/message/PrefixInfo.hpp
  pkg/tests/CMakeLists.txt
  pkg/tests/domain/message/test_ParserPrefix.cpp
Due: domain

update(command): JOINコマンドを追加 (#84)
  .env.example
  pkg/application/commands/Join.cpp
  pkg/application/commands/Join.hpp
  pkg/application/factory/.gitkeep
  pkg/domain/channel/Channel.cpp
  pkg/domain/channel/Channel.hpp
  pkg/domain/channel/ChannelClientList.cpp
  pkg/domain/channel/ChannelClientList.hpp
  pkg/domain/channel/IChannelAggregateRoot.hpp
  pkg/domain/client/Client.cpp
  pkg/domain/client/Client.hpp
  pkg/domain/client/IClientAggregateRoot.hpp
  pkg/domain/client/IClientRepository.hpp
  pkg/domain/message/MessageService.cpp
  pkg/domain/message/MessageService.hpp
  pkg/domain/message/MessageStream.hpp
  pkg/infra/database/InmemoryClientDatabase.cpp
  pkg/infra/database/InmemoryClientDatabase.hpp
  pkg/tests/domain/client/test_Password.cpp
  pkg/tests/infra/database/test_InmemoryChannelDatabase.cpp
  pkg/tests/infra/database/test_InmemoryClientDatabase.cpp
Due: application, domain, infra

feat: Sentryを有効化
  .env.example
  .gitignore
  .vscode/launch.json
  CMakeLists.txt
  Makefile
  README.md
  cmd/ft_irc/main.cpp
  pkg/application/serviceLocator/LoggerServiceLocator.hpp
  pkg/infra/logger/SentryLogger.hpp
  pkg/presentation/entrypoint.cpp
Due: application, infra, presentation

update: IMessageAggregateRootのコマンドタイプをMessageConstantsに移行し、Parserクラスを修正
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
  pkg/domain/message/IMessageAggregateRoot.hpp
  pkg/domain/message/Message.cpp
  pkg/domain/message/Message.hpp
  pkg/domain/message/MessageConstants.hpp
  pkg/domain/message/Parser.cpp
  pkg/domain/message/Parser.hpp
  pkg/tests/domain/message/test_Message.cpp
  pkg/tests/domain/message/test_Parser.cpp
Due: application, domain

update: CommandTypeをMessageConstantsに統一し、Parserクラスを修正
  pkg/application/commands/Join.cpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
  pkg/domain/message/Message.cpp
  pkg/domain/message/Message.hpp
  pkg/domain/message/Parser.cpp
  pkg/domain/message/Parser.hpp
Due: application, domain

update: parserの完成度を向上
  pkg/domain/message/Message.cpp
  pkg/domain/message/Message.hpp
  pkg/domain/message/MessageConstants.hpp
  pkg/domain/message/Parser.cpp
  pkg/domain/message/Parser.hpp
  pkg/tests/domain/message/test_Message.cpp
  pkg/tests/domain/message/test_Parser.cpp
  pkg/tests/domain/message/test_ParserPrefix.cpp
Due: domain

update: 既存のテストを修正
  pkg/domain/message/Message.cpp
  pkg/domain/message/Message.hpp
  pkg/domain/message/Parser.cpp
  pkg/domain/message/Parser.hpp
  pkg/tests/CMakeLists.txt
  pkg/tests/domain/message/test_MessageParser.cpp
  pkg/tests/domain/message/test_MessageParserPrefix.cpp
  pkg/tests/domain/message/test_Parser.cpp
Due: domain

update: Makefileにカバレッジ情報の生成とログファイルの管理を追加
  Makefile
Due: none

add(tests/message): テストを追加
  pkg/domain/message/Message.cpp
  pkg/domain/message/Message.hpp
  pkg/tests/domain/message/test_Message.cpp
Due: domain

update: SendMsgDTOのコンストラクタを修正し、ステータスを引数として受け取るように変更
  pkg/application/dto/SendMsgDTO.cpp
  pkg/application/dto/SendMsgDTO.hpp
  pkg/domain/message/Message.cpp
  pkg/domain/message/Message.hpp
  pkg/domain/message/MessageStream.hpp
  pkg/domain/message/MessageStreamVector.hpp
  pkg/tests/domain/message/test_Message.cpp
Due: application, domain

update: PASSコマンドを対応させる
  pkg/application/commands/Pass.cpp
  pkg/application/commands/Pass.hpp
  pkg/domain/message/MessageConstants.hpp
Due: application, domain

update: JOINコマンドを新しいメッセージストリームによる送信に変更
  pkg/application/commands/Join.cpp
  pkg/application/commands/Join.hpp
  pkg/application/commands/Pass.cpp
  pkg/application/dto/SendMsgDTO.cpp
Due: application

update: コンパイルできるように修正
  pkg/application/commands/Join.cpp
  pkg/application/commands/Pass.cpp
  pkg/application/commands/Pass.hpp
  pkg/application/dto/SendMsgDTO.cpp
  pkg/application/dto/SendMsgDTO.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/SendMsgFromServerUseCase.cpp
  pkg/application/useCases/SendMsgFromServerUseCase.hpp
  pkg/domain/message/MessageService.cpp
  pkg/domain/message/MessageService.hpp
  pkg/domain/message/MessageStream.hpp
  pkg/presentation/entrypoint.cpp
Due: application, domain, presentation

fmt
  pkg/application/commands/Pass.hpp
  pkg/application/dto/SendMsgDTO.cpp
Due: application

fix: msgの出力を修正
  pkg/domain/message/Message.cpp
Due: domain

Merge branch '85-message-format' into 81-mode-first-dev
  Makefile
  pkg/application/commands/Join.cpp
  pkg/application/commands/Join.hpp
  pkg/application/commands/Pass.cpp
  pkg/application/commands/Pass.hpp
  pkg/application/dto/SendMsgDTO.cpp
  pkg/application/dto/SendMsgDTO.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
  pkg/application/useCases/SendMsgFromServerUseCase.cpp
  pkg/application/useCases/SendMsgFromServerUseCase.hpp
  pkg/domain/message/IMessageAggregateRoot.hpp
  pkg/domain/message/Message.cpp
  pkg/domain/message/Message.hpp
  pkg/domain/message/MessageConstants.hpp
  pkg/domain/message/MessageService.cpp
  pkg/domain/message/MessageService.hpp
  pkg/domain/message/MessageStream.hpp
  pkg/domain/message/MessageStreamVector.hpp
  pkg/domain/message/Parser.cpp
  pkg/domain/message/Parser.hpp
  pkg/domain/message/PrefixInfo.hpp
  pkg/presentation/entrypoint.cpp
  pkg/tests/CMakeLists.txt
  pkg/tests/domain/message/test_Message.cpp
  pkg/tests/domain/message/test_MessageParser.cpp
  pkg/tests/domain/message/test_MessageParserPrefix.cpp
  pkg/tests/domain/message/test_Parser.cpp
Due: application, domain, presentation

tmp
  pkg/application/commands/Mode.cpp
  pkg/application/commands/Mode.hpp
  pkg/domain/message/MessageConstants.hpp
Due: application, domain

update(Message): パーサーとメッセージの機能を強化 (#86)
  Makefile
  pkg/application/commands/Join.cpp
  pkg/application/commands/Join.hpp
  pkg/application/commands/Pass.cpp
  pkg/application/commands/Pass.hpp
  pkg/application/dto/SendMsgDTO.cpp
  pkg/application/dto/SendMsgDTO.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
  pkg/application/useCases/SendMsgFromServerUseCase.cpp
  pkg/application/useCases/SendMsgFromServerUseCase.hpp
  pkg/domain/message/IMessageAggregateRoot.hpp
  pkg/domain/message/Message.cpp
  pkg/domain/message/Message.hpp
  pkg/domain/message/MessageConstants.hpp
  pkg/domain/message/MessageService.cpp
  pkg/domain/message/MessageService.hpp
  pkg/domain/message/MessageStream.hpp
  pkg/domain/message/MessageStreamVector.hpp
  pkg/domain/message/Parser.cpp
  pkg/domain/message/Parser.hpp
  pkg/domain/message/PrefixInfo.hpp
  pkg/presentation/entrypoint.cpp
  pkg/tests/CMakeLists.txt
  pkg/tests/domain/message/test_Message.cpp
  pkg/tests/domain/message/test_MessageParser.cpp
  pkg/tests/domain/message/test_MessageParserPrefix.cpp
  pkg/tests/domain/message/test_Parser.cpp
Due: application, domain, presentation

docを削除
  ft_irc.pdf
Due: none

docを削除 (#87)
  ft_irc.pdf
Due: none

update(Mode): チャンネル名の検証を設定から取得するように変更
  pkg/application/commands/Mode.cpp
  pkg/application/commands/Mode.hpp
  pkg/domain/message/MessageConstants.hpp
  pkg/infra/configs/ConfigsLoader.cpp
Due: application, domain, infra

update: 数値応答をちゃんと表示できるようにした
  pkg/domain/message/Message.cpp
Due: domain

chore: modeコマンドを追加
  pkg/application/commands/Mode.cpp
  pkg/application/commands/Mode.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
  pkg/domain/message/MessageConstants.hpp
Due: application, domain

update: clientにusernameのフィールドを追加
  pkg/domain/client/Client.cpp
  pkg/domain/client/Client.hpp
  pkg/domain/client/IClientAggregateRoot.hpp
  pkg/tests/infra/database/test_InmemoryClientDatabase.cpp
Due: domain

update: CommandTypeを文字列に変換する関数を追加
  pkg/domain/message/Message.cpp
Due: domain

update: MODEコマンドにおけるエラーログとモード変更処理を追加
  pkg/application/commands/Mode.cpp
  pkg/application/commands/Mode.hpp
  pkg/application/dto/SendMsgDTO.cpp
Due: application

update: MODEコマンドを呼び出せる形で実装した (#89)
  pkg/application/commands/Mode.cpp
  pkg/application/commands/Mode.hpp
  pkg/application/dto/SendMsgDTO.cpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
  pkg/domain/client/Client.cpp
  pkg/domain/client/Client.hpp
  pkg/domain/client/IClientAggregateRoot.hpp
  pkg/domain/message/Message.cpp
  pkg/domain/message/MessageConstants.hpp
  pkg/infra/configs/ConfigsLoader.cpp
  pkg/tests/infra/database/test_InmemoryClientDatabase.cpp
Due: application, domain, infra

update: channelにOperatorのリストを追加
  pkg/domain/channel/Channel.cpp
  pkg/domain/channel/Channel.hpp
  pkg/domain/channel/ChannelClientList.cpp
  pkg/domain/channel/ChannelClientList.hpp
  pkg/domain/channel/IChannelAggregateRoot.hpp
  pkg/tests/infra/database/test_InmemoryChannelDatabase.cpp
Due: domain

update: channel operatorの確認機能を追加
  pkg/application/commands/Join.cpp
  pkg/application/commands/Mode.cpp
  pkg/application/commands/Mode.hpp
Due: application

refactor: hashのドメインエンティティのディレクトリを変更
  pkg/application/serviceLocator/SocketHandlerServiceLocator.hpp
  pkg/application/useCases/StartServerUseCase.hpp
  pkg/domain/channel/Channel.hpp
  pkg/domain/channel/IChannelAggregateRoot.hpp
  pkg/domain/channel/IChannelRepository.hpp
  pkg/domain/client/ConnectionInfo.hpp
  pkg/domain/hash/IHashAggregateRoot.hpp
  pkg/domain/hash/JenkinsHash.cpp
  pkg/domain/hash/JenkinsHash.hpp
  pkg/domain/hash/RFCChannelHash.cpp
  pkg/domain/hash/RFCChannelHash.hpp
  pkg/infra/database/InmemoryChannelDatabase.hpp
  pkg/tests/domain/shared/test_JenkinsHash.cpp
  pkg/tests/domain/shared/test_RFCChannelHash.cpp
  pkg/tests/infra/database/test_InmemoryChannelDatabase.cpp
Due: application, domain, infra

chore: Channel Operatorの情報を扱えるようにした (#92)
  pkg/application/commands/Join.cpp
  pkg/application/commands/Mode.cpp
  pkg/application/commands/Mode.hpp
  pkg/application/serviceLocator/SocketHandlerServiceLocator.hpp
  pkg/application/useCases/StartServerUseCase.hpp
  pkg/domain/channel/Channel.cpp
  pkg/domain/channel/Channel.hpp
  pkg/domain/channel/ChannelClientList.cpp
  pkg/domain/channel/ChannelClientList.hpp
  pkg/domain/channel/IChannelAggregateRoot.hpp
  pkg/domain/channel/IChannelRepository.hpp
  pkg/domain/client/ConnectionInfo.hpp
  pkg/domain/hash/IHashAggregateRoot.hpp
  pkg/domain/hash/JenkinsHash.cpp
  pkg/domain/hash/JenkinsHash.hpp
  pkg/domain/hash/RFCChannelHash.cpp
  pkg/domain/hash/RFCChannelHash.hpp
  pkg/infra/database/InmemoryChannelDatabase.hpp
  pkg/tests/domain/shared/test_JenkinsHash.cpp
  pkg/tests/domain/shared/test_RFCChannelHash.cpp
  pkg/tests/infra/database/test_InmemoryChannelDatabase.cpp
Due: application, domain, infra
