Repository GawinGowin/ft_irc: changes, and which Codecov flags are due for each by the changed paths.
All: application, domain, infra, presentation

codecov.yaml:

comment:
  layout: "header, diff, flags, components, files, footer"  # show component info in the PR comment
  
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_application  # this is an identifier that should not be changed
      name: application  # this is a display name, and can be changed freely
      paths:
        - pkg/application/**
    - component_id: module_domain
      name: domain
      paths:
        - pkg/domain/**
    - component_id: module_infra
      name: infra
      paths:
        - pkg/infra/**
    - component_id: module_presentation
      name: presentation
      paths:
        - pkg/presentation/**

update: Sentryで"パンくずリスト"(breadcrumb)を使用するようにした
  pkg/infra/logger/SentryLogger.hpp
Due: infra

update: Messageクラスのパラメータ解析にトレーリングオプションを追加
  pkg/domain/message/Message.cpp
  pkg/domain/message/Message.hpp
  tests/gtests/domain/message/test_MessageParseParams.cpp
Due: domain

update: エラーメッセージのフォーマットを修正(`:`一個で適切に表示されるようにした)
  pkg/application/commands/Nick.cpp
  pkg/application/commands/Pass.cpp
  pkg/application/commands/User.cpp
Due: application

fix(domain/Message) `::`を`:`として表示できるように修正 (#129)
  pkg/application/commands/Nick.cpp
  pkg/application/commands/Pass.cpp
  pkg/application/commands/User.cpp
  pkg/domain/message/Message.cpp
  pkg/domain/message/Message.hpp
  tests/gtests/domain/message/test_MessageParseParams.cpp
Due: application, domain

update: SentryLoggerにトレースメッセージのパンくずリストを追加
  pkg/infra/logger/SentryLogger.hpp
Due: infra

update: チャンネルに所属していたとき、適切に抜ける処理を追加
  pkg/application/useCases/RemoveConnectionUseCase.cpp
  pkg/application/useCases/RemoveConnectionUseCase.hpp
Due: application

update: RemoveConnectionUseCaseの戻り値をSendMsgDTOに変更し、クライアント切断時にメッセージを送信する機能を追加
  .vscode/tasks.json
  pkg/application/useCases/RemoveConnectionUseCase.cpp
  pkg/application/useCases/RemoveConnectionUseCase.hpp
  pkg/presentation/entrypoint.cpp
Due: application, presentation

wip
  pkg/application/useCases/RemoveConnectionUseCase.cpp
  pkg/application/useCases/RemoveConnectionUseCase.hpp
  pkg/domain/message/Message.cpp
  pkg/domain/message/MessageConstants.hpp
Due: application, domain

update: quitコマンドのe2eのテストを追加
  .vscode/tasks.json
  tests/e2e/quit.json
Due: none

add(commands): 引数無しQUITを追加
  pkg/application/commands/Quit.cpp
  pkg/application/commands/Quit.hpp
  pkg/application/useCases/RemoveConnectionUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
  pkg/domain/message/Message.cpp
  pkg/domain/message/MessageConstants.hpp
Due: application, domain

fix: 正しいクライアントが削除されるように修正
  pkg/application/useCases/RemoveConnectionUseCase.cpp
Due: application

needfix: このテストが通るように修正する
  tests/gtests/domain/message/test_Message.cpp
Due: none

fix: Messageに関しての受け取るコマンドの引数に関しての使用を微妙に変更
  pkg/domain/message/Message.cpp
  pkg/domain/message/Message.hpp
  tests/gtests/domain/message/test_Message.cpp
  tests/gtests/domain/message/test_MessageParser.cpp
Due: domain

fix: Messageの引数のパースに関して、`:`を含めず引数として扱うようにした。 (#132)
  pkg/domain/message/Message.cpp
  pkg/domain/message/Message.hpp
  tests/gtests/domain/message/test_Message.cpp
  tests/gtests/domain/message/test_MessageParser.cpp
Due: domain

update: ClientのCtrl + Cで終了した際に、切断のメッセージが送られるようにした
  pkg/application/commands/Quit.cpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/presentation/entrypoint.cpp
Due: application, presentation

update: ログなどを微調整
  pkg/application/commands/Join.cpp
  pkg/application/commands/Quit.cpp
  pkg/application/useCases/RunCommandsUseCase.cpp
Due: application

fix: Quitメッセージのフォーマットを修正し、ユーザー情報を含めるようにした
  pkg/application/commands/Quit.cpp
Due: application

add: ping-pongを仮実装
  pkg/application/commands/Ping.cpp
  pkg/application/commands/Ping.hpp
  pkg/application/commands/Pong.cpp
  pkg/application/commands/Pong.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
  pkg/domain/message/Message.cpp
  pkg/domain/message/MessageConstants.hpp
Due: application, domain

update: QUITコマンドの実装 (#134)
  .vscode/tasks.json
  pkg/application/commands/Join.cpp
  pkg/application/commands/Quit.cpp
  pkg/application/commands/Quit.hpp
  pkg/application/useCases/RemoveConnectionUseCase.cpp
  pkg/application/useCases/RemoveConnectionUseCase.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
  pkg/domain/message/Message.cpp
  pkg/domain/message/MessageConstants.hpp
  pkg/presentation/entrypoint.cpp
  tests/e2e/quit.json
Due: application, domain, presentation

update: Ping/Pongの応答をngircdに近づけた
  pkg/application/commands/Ping.cpp
  pkg/application/commands/Pong.cpp
  pkg/domain/message/MessageConstants.hpp
Due: application, domain

update: テストケースの検証を行った
  tests/e2e/PingPong.json
Due: none

chore: `-Werror=implicit-fallthrough=`を修正
  pkg/application/useCases/RunCommandsUseCase.cpp
Due: application

add(command): Ping/Pongコマンドを実装 (#135)
  pkg/application/commands/Ping.cpp
  pkg/application/commands/Ping.hpp
  pkg/application/commands/Pong.cpp
  pkg/application/commands/Pong.hpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
  pkg/domain/message/Message.cpp
  pkg/domain/message/MessageConstants.hpp
  tests/e2e/PingPong.json
Due: application, domain

chore(tests/e2e): NICK, PASS, QUITコマンドのE2Eテストのファイル名を変更
  tests/e2e/NICK.json
  tests/e2e/PASS.json
  tests/e2e/QUIT.json
Due: none

fix(command): チャンネルメンバーがオペレーターの場合、メンバー名の前に"@"を追加
  pkg/application/commands/Join.cpp
Due: application

PASS/NICK/USER以外のコマンドを、ログイン済ユーザー以外から遮断
  pkg/application/commands/Invite.cpp
  pkg/application/commands/Invite.hpp
  pkg/application/commands/Join.cpp
  pkg/application/commands/Join.hpp
  pkg/application/commands/Kick.cpp
  pkg/application/commands/Kick.hpp
  pkg/application/commands/Mode.cpp
  pkg/application/commands/Mode.hpp
  pkg/application/commands/Ping.cpp
  pkg/application/commands/Ping.hpp
  pkg/application/commands/Privmsg.cpp
  pkg/application/commands/Privmsg.hpp
  pkg/application/commands/Topic.cpp
  pkg/application/commands/Topic.hpp
Due: application

fmt
  pkg/application/commands/Kick.cpp
  pkg/application/commands/Mode.cpp
  pkg/application/commands/Ping.cpp
  pkg/application/commands/Topic.cpp
  pkg/application/commands/Topic.hpp
Due: application

feat: 実行可能なコマンドの制限 (#136)
  pkg/application/commands/Invite.cpp
  pkg/application/commands/Invite.hpp
  pkg/application/commands/Join.cpp
  pkg/application/commands/Join.hpp
  pkg/application/commands/Kick.cpp
  pkg/application/commands/Kick.hpp
  pkg/application/commands/Mode.cpp
  pkg/application/commands/Mode.hpp
  pkg/application/commands/Ping.cpp
  pkg/application/commands/Ping.hpp
  pkg/application/commands/Privmsg.cpp
  pkg/application/commands/Privmsg.hpp
  pkg/application/commands/Topic.cpp
  pkg/application/commands/Topic.hpp
Due: application

feat: マルチクライアントでテストできるように変更
  tests/e2e/irc_e2e.py
Due: none

fix: 全てのテストを新スキーマに置き換え
  tests/e2e/PingPong.json
  tests/e2e/certification.json
  tests/e2e/nick.json
  tests/e2e/pass.json
  tests/e2e/quit.json
Due: none

update: e2eテストがマルチClientでの挙動を試せるようにした (#137)
  tests/e2e/PingPong.json
  tests/e2e/certification.json
  tests/e2e/irc_e2e.py
  tests/e2e/nick.json
  tests/e2e/pass.json
  tests/e2e/quit.json
Due: none

refactor(commands): クライアントタイプのチェックを改善
  pkg/application/commands/Invite.cpp
  pkg/application/commands/Invite.hpp
  pkg/application/commands/Join.cpp
  pkg/application/commands/Join.hpp
  pkg/application/commands/Kick.cpp
  pkg/application/commands/Kick.hpp
  pkg/application/commands/Mode.cpp
  pkg/application/commands/Mode.hpp
  pkg/application/commands/Nick.cpp
  pkg/application/commands/Pass.cpp
  pkg/application/commands/Ping.cpp
  pkg/application/commands/Ping.hpp
  pkg/application/commands/Privmsg.cpp
  pkg/application/commands/Privmsg.hpp
  pkg/application/commands/Topic.cpp
  pkg/application/commands/Topic.hpp
  pkg/application/commands/User.cpp
  pkg/domain/client/Client.cpp
Due: application, domain

test: JOINコマンドのE2Eテストケースを追加
  tests/e2e/JOIN.json
Due: none

feat: JOINコマンドのE2Eテストケースを追加し、クライアントの参加条件を改善
  .vscode/tasks.json
  pkg/application/commands/Join.cpp
  tests/e2e/JOIN.json
Due: application

fix: チャンネル走査中の削除操作によるイテレータ無効化を修正、セグフォを修正
  pkg/application/commands/Quit.cpp
Due: application

fix: 異常に切断された際の対応を強化、サーバー自体が終了しないようにした
  pkg/application/useCases/RemoveConnectionUseCase.cpp
  pkg/application/useCases/SendMsgFromServerUseCase.cpp
  pkg/infra/socket/SocketHandler.cpp
  pkg/presentation/signal.cpp
Due: application, infra, presentation

feat: フォーマットなどを修正した
  pkg/application/commands/Join.cpp
  tests/e2e/JOIN.json
Due: application

fmt
  pkg/application/commands/Join.cpp
  pkg/application/commands/Quit.cpp
Due: application

fix: チャンネル、もしくはサーバーから離脱した際の処理を強化 (#138)
  .vscode/tasks.json
  pkg/application/commands/Invite.cpp
  pkg/application/commands/Invite.hpp
  pkg/application/commands/Join.cpp
  pkg/application/commands/Join.hpp
  pkg/application/commands/Kick.cpp
  pkg/application/commands/Kick.hpp
  pkg/application/commands/Mode.cpp
  pkg/application/commands/Mode.hpp
  pkg/application/commands/Nick.cpp
  pkg/application/commands/Pass.cpp
  pkg/application/commands/Ping.cpp
  pkg/application/commands/Ping.hpp
  pkg/application/commands/Privmsg.cpp
  pkg/application/commands/Privmsg.hpp
  pkg/application/commands/Quit.cpp
  pkg/application/commands/Topic.cpp
  pkg/application/commands/Topic.hpp
  pkg/application/commands/User.cpp
  pkg/application/useCases/RemoveConnectionUseCase.cpp
  pkg/application/useCases/SendMsgFromServerUseCase.cpp
  pkg/domain/client/Client.cpp
  pkg/infra/socket/SocketHandler.cpp
  pkg/presentation/signal.cpp
  tests/e2e/JOIN.json
  tests/e2e/NICK.json
  tests/e2e/PASS.json
  tests/e2e/QUIT.json
Due: application, domain, infra, presentation

update: 既に参加しているチャンネルにJOINしたとき、このメッセージは出なかったので修正
  pkg/application/commands/Join.cpp
Due: application
