Repository GawinGowin/ft_irc: changes, and which Codecov flags are due for each by the changed paths.
All: application, domain, infra, presentation

codecov.yaml:

comment:
  layout: "header, diff, flags, components, files, footer"  # show component info in the PR comment
  
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_application  # this is an identifier that should not be changed
      name: application  # this is a display name, and can be changed freely
      paths:
        - pkg/application/**
    - component_id: module_domain
      name: domain
      paths:
        - pkg/domain/**
    - component_id: module_infra
      name: infra
      paths:
        - pkg/infra/**
    - component_id: module_presentation
      name: presentation
      paths:
        - pkg/presentation/**

update(ci): codecov.yamlのコメントレイアウトを修正
  codecov.yaml
Due: none

fix(ci): codecovの設定を微調整 (#53)
  .github/workflows/cpp_ci.yml
  codecov.yaml
Due: none

update(ci): codecov.yamlの設定を拡張し、カバレッジステータスの情報を追加した
  codecov.yaml
Due: none

fix(ci): codecov.yamlの設定に情報提供を追加
  codecov.yaml
Due: none

poc: Sentryを用いたo11yの実装
  .gitignore
  Makefile
  cmd/ft_irc/main.cpp
Due: none

update: ipアドレスをstd::stringで取得できるようにした
  pkg/application/useCases/AcceptConnectionUseCase.cpp
  pkg/domain/shared/ISocketHandler.hpp
  pkg/infra/configs/ConfigsLoader.cpp
  pkg/infra/socket/SocketHandler.cpp
  pkg/infra/socket/SocketHandler.hpp
Due: application, domain, infra

update: SocketHandlerの初期化時にIPアドレスとポートのバリデーションを追加し、テストケースを作成した
  pkg/infra/socket/SocketHandler.cpp
  pkg/tests/CMakeLists.txt
  pkg/tests/infra/socket/test_SocketHandler.cpp
Due: infra

add: client アグリゲートに接続情報を司るエンティティを追加
  pkg/application/useCases/AcceptConnectionUseCase.cpp
  pkg/application/useCases/AcceptConnectionUseCase.hpp
  pkg/domain/client/Client.cpp
  pkg/domain/client/Client.hpp
  pkg/domain/client/ConnectionInfo.cpp
  pkg/domain/client/ConnectionInfo.hpp
Due: application, domain

33-各コマンド実装のための抽象クラスを作成 (#52)
  codecov.yaml
  pkg/application/commands/.gitkeep
  pkg/application/commands/ACommands.cpp
  pkg/application/commands/ACommands.hpp
  pkg/application/useCases/RemoveConnectionUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.cpp
  pkg/application/useCases/RunCommandsUseCase.hpp
  pkg/domain/message/BaseMessage.cpp
  pkg/domain/message/BaseMessage.hpp
  pkg/domain/message/IMessageAggregateRoot.hpp
  pkg/presentation/entrypoint.cpp
  pkg/presentation/entrypoint.hpp
Due: application, domain, presentation

update: secrets to env
  .gitignore
  .vscode/launch.json
  cmd/ft_irc/main.cpp
Due: none

update: enableto upload debug files
  .gitignore
  Makefile
  cmd/ft_irc/main.cpp
Due: none

nick
  pkg/domain/client/Client.cpp
  pkg/domain/client/Client.hpp
Due: domain

パーサの実装(未リファクタ)
  pkg/presentation/parser.cpp
  pkg/presentation/parser.hpp
Due: presentation

update: cmakeで選択的にSentryを使用できるように
  CMakeLists.txt
  Makefile
  cmd/ft_irc/main.cpp
Due: none

add: .env.exampleにSentryの設定項目を追加
  .env.example
Due: none

fix: 以下のように変更
  CMakeLists.txt
  Makefile
Due: none

パーサを移動
  pkg/domain/message/BaseMessage.cpp
  pkg/domain/message/Parser.cpp
  pkg/domain/message/Parser.hpp
  pkg/presentation/parser.cpp
  pkg/presentation/parser.hpp
Due: domain, presentation

fmt
  pkg/domain/message/Parser.hpp
Due: domain

test追加
  pkg/domain/client/Client.hpp
  pkg/tests/domain/client/test_Client.cpp
Due: domain

test追加
  pkg/tests/domain/client/test_Client.cpp
Due: none

testを一部追加
  pkg/tests/CMakeLists.txt
  pkg/tests/domain/message/test_Parser.cpp
Due: none

testを追加
  pkg/tests/domain/message/test_Parser.cpp
Due: none

testを修正
  pkg/tests/domain/message/test_Parser.cpp
Due: none

パーサのコマンド開始index取得部分を修正
  pkg/domain/message/Parser.cpp
  pkg/tests/domain/message/test_Parser.cpp
Due: domain

basemessageのテスト追加
  pkg/tests/domain/message/test_BaseMessage.cpp
Due: none

fmt
  pkg/tests/domain/message/test_BaseMessage.cpp
Due: none

cmakelistに追加
  pkg/tests/CMakeLists.txt
Due: none

feat: メッセージパーサの実装 (#57)
  pkg/domain/message/BaseMessage.cpp
  pkg/domain/message/Parser.cpp
  pkg/domain/message/Parser.hpp
  pkg/tests/CMakeLists.txt
  pkg/tests/domain/message/test_BaseMessage.cpp
  pkg/tests/domain/message/test_Parser.cpp
Due: domain

feat: clientクラスにニックネームのsetter/getterを追加 (#58)
  pkg/domain/client/Client.cpp
  pkg/domain/client/Client.hpp
  pkg/tests/domain/client/test_Client.cpp
Due: domain

add: loggerを追加
  pkg/infra/logger/ConsoleLogger.hpp
  pkg/infra/logger/ILogger.hpp
  pkg/tests/CMakeLists.txt
  pkg/tests/infra/logger/test_ConsoleLogger.cpp
Due: infra

add: 複数のloggerを連鎖呼び出しできるようにMultiLoggerを追加
  pkg/infra/logger/MultiLogger.hpp
  pkg/tests/CMakeLists.txt
  pkg/tests/infra/logger/test_MultiLogger.cpp
Due: infra

feat: LoggerServiceLocatorを追加し、ConsoleLoggerの初期化機能を実装
  pkg/application/serviceLocator/LoggerServiceLocator.cpp
  pkg/application/serviceLocator/LoggerServiceLocator.hpp
  pkg/tests/CMakeLists.txt
  pkg/tests/application/serviceLocator/test_LoggerServiceLocator.cpp
Due: application

update: loggerがファイルに出力することもできるようになった。(test_LoggerServiceLocator.cpp参照)
  pkg/application/serviceLocator/LoggerServiceLocator.hpp
  pkg/infra/logger/FileLogger.hpp
  pkg/infra/logger/MultiLogger.hpp
  pkg/tests/CMakeLists.txt
  pkg/tests/application/serviceLocator/test_LoggerServiceLocator.cpp
  pkg/tests/infra/logger/test_FileLogger.cpp
Due: application, infra

refactor: コードの整形と不要な改行を削除
  pkg/application/serviceLocator/LoggerServiceLocator.hpp
  pkg/infra/logger/ConsoleLogger.hpp
  pkg/infra/logger/FileLogger.hpp
  pkg/infra/logger/MultiLogger.hpp
  pkg/presentation/entrypoint.cpp
  pkg/presentation/entrypoint.hpp
  pkg/tests/application/serviceLocator/test_LoggerServiceLocator.cpp
  pkg/tests/infra/logger/test_MultiLogger.cpp
Due: application, infra, presentation

fix: メモリリークを防止する形でLoggerのサービスロケータを修正
  .vscode/launch.json
  pkg/application/serviceLocator/LoggerServiceLocator.cpp
  pkg/application/serviceLocator/LoggerServiceLocator.hpp
  pkg/infra/logger/ConsoleLogger.hpp
  pkg/infra/logger/MultiLogger.hpp
  pkg/presentation/LogggerWrapper.hpp
  pkg/presentation/entrypoint.cpp
  pkg/presentation/entrypoint.hpp
  pkg/tests/application/serviceLocator/test_LoggerServiceLocator.cpp
Due: application, infra, presentation

add: .gitignoreにログファイルを追加
  .gitignore
Due: none

feat: ログレベルに基づくログ出力機能をILoggerインターフェースと各ロガークラスに追加
  pkg/infra/logger/ConsoleLogger.hpp
  pkg/infra/logger/FileLogger.hpp
  pkg/infra/logger/ILogger.hpp
  pkg/infra/logger/LogLevel.hpp
  pkg/infra/logger/LogStream.hpp
  pkg/infra/logger/MultiLogger.hpp
  test.cpp
Due: infra

update: 各loggerがStringStreamで出力内容を受け取れる
  pkg/infra/logger/ConsoleLogger.hpp
  pkg/infra/logger/FileLogger.hpp
  pkg/infra/logger/ILogger.hpp
  pkg/infra/logger/ILoggerStream.hpp
  pkg/infra/logger/MultiLogger.hpp
Due: infra

refactor: 多重継承によりコードを最適化
  pkg/infra/logger/ConsoleLogger.hpp
  pkg/infra/logger/FileLogger.hpp
  pkg/infra/logger/ILogger.hpp
  pkg/infra/logger/ILoggerStream.hpp
  pkg/infra/logger/MultiLogger.hpp
  pkg/infra/logger/StreamLogger.hpp
  pkg/tests/application/serviceLocator/test_LoggerServiceLocator.cpp
  pkg/tests/infra/logger/test_MultiLogger.cpp
Due: infra
